.form {
  &-group {
    display: flex;
  }

  &-header {
    flex-grow: 1;
  }

  // &-button {
  //     margin: theme.spacing(1);
  // }
}

.panel {
  width: 100%;
  margin: 8% 0 auto;
}

// .panelHeading {
//     fontSize: theme.typography.pxToRem(15),
//     fontWeight: theme.typography.fontWeightRegular
//   }

.accordianHeader {
  background-color: #eeeeee;
}
